/* Folha de estilo CSS para desktop do site Dirack's Lounge

    Programador: Rodolfo A. C. Neves 15/04/2018

    Atualização: 

		-Revisão dos comentários 05/01/2019

    Email: rodolfo_profissional@hotmail.com

    Layout:
   
    Utilizada nas páginas principais do site, um cabeçalho com menu
    de navegação e uma barra com a imagem do planeta Terra, abaixo 
    uma coluna principal à esquerda e uma barra lateral à direita, 
    finalizando no rodapé. 

    Licensa: http://www.dirackslounge.online/licensa.html
    
*/

@charset "UTF-8";

/*< Cabeçalho da página >*/

/* Barra com imagem do planeta Terra */
#preheader {
    /*opacity:0.88;*/
    background-image: url(images/banner.png);
    background-position: 50% 50%;
    height: 700px;
    padding: 0px 20px 10px 50px;
    margin: 0px;
}

/*< Menu de navegação >*/

/* ícone do menu */
#icone-menu {
	position: absolute;
	top: 70px;
	left: 25px;
	z-index: 0;
}

/* titulo do site */
#titulo h1{
	text-indent: none;
	opacity:0;
	font-size:80pt;
	position: absolute;
        color: #000000;
	top: 100px;
	left: 150px;
	z-index: 0;
}

#titulo h3{
	opacity:0;
	font-size:25pt;
	position: absolute;
        color: #000000;
	top: 250px;
	left: 300px;
	z-index: 0;
}

#redes ul {
	opacity:1;
	list-style-type: none;
	font-size:25pt;
	position: fixed;
        color: #000000;
	top: 175px;
	left: -65px;
	z-index: 0;
	-webkit-transition: all .6s ease-in;
}

#redes ul li{
	width: 40px;
	height: 40px;
}

#redes ul li a{
	border-bottom: none;
}

#face:hover, #git:hover, #youtube:hover, #plus:hover {
	width: 45px;
	height: 40px
}

#plus-on {
	opacity:0.9;
	position: fixed;
        color: #ffffff;
	background-color: #000000;
	top: 0px;
	left: 0px;
	width: 1360px;
	height: 700px;
	z-index: 0;
	-webkit-transition: all .6s ease-in;
}

#plus-on ul {
	list-style-type: none;
	position: fixed;
	top: 200px;
	left: 400px;
}

#plus-on ul li {
	display: inline;
	margin: 10px;
}

#plus-on h1{
	position: fixed;
	top: 150px;
	left: 300px;
	color: #ffffff;
}

#plus-on p{
	position: fixed;
	top: 230px;
	left: 500px;
	color: #ffffff;
}


/* Botões de navegação #0F92C6
nav ul li.selected {
    background-image: linear-gradient(to bottom, #545454, #000000);
    border-radius: 5px;
}*/

/* BOTÃO: Flutuação */
li.selected:hover{
    /*background-image: linear-gradient(to bottom, #cf2b4f, #bdb1c2);*/
    background-color: #4A5C57;
    border-radius: 5px;
}

/* BOTÃO: Flutuação */
li.atual{
    background: #bdb1c2;
}

nav {
    background-color: #3B4545;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 75px;
}

#geof-logo{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}

#menu-esq{
	width: 30%;
	padding-left: 50px;
	background-color: black;
	float: left;
	height: 75px;
	line-height: 75px;
}

#menu-esq a{
	border-bottom: none;
}

#menu-dir{
	width:50%;
	/*background-color: blue;*/
	float: right;
	height: 75px;
	line-height: 75px;
}

#menu-center{
	width: 100%;
	margin-left: 22%;
	/*background-color: blue;*/
	height: 75px;
	line-height: 75px;
}

/*nav:hover {
	opacity: 1;
}*/

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 5px 20px 5px 20px;
}

nav ul li form {
    display: inline;
    padding: 5px 20px 5px 20px;
}

nav ul li form {
	background-image: linear-gradient(to bottom, #545454, #000000);
}

#botao {
	background-image: linear-gradient(to bottom, #00a000, #00a000);
	color: white;
}

#navegacao ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px 20px 5px 20px;
}

#navegacao ul li{
        display: inline;
        padding: 0px 2px 5px 2px;
        margin: 0px 10px 0px 0px;
}

#navegacao ul li a:link, #navegacao ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}

#body-text{
	height: 3800px;
}

/*< Coluna principal à esquerda com as postagens e artigos >*/
#canvas {
    text-indent: 0px;
    background: white top left;
    padding: 10px;
    margin: 10px 0px 10px 100px;
    color: #191919;
    text-align: justify;
    width: 55%;
    height: 100%;
    /*border: 2px solid gray;*/
}

#postagens h1 a{
	border-bottom: a;
} 

/*< Barra lateral à direita com formulário de email e atualizações >*/

#posts {
    height: 90%;
    background: white top left;
    padding: 10px;
    margin: 10px 55px 0px 0px;
    width: 25%;
    float: right;
    /*border-left: 1px solid gray;*/
}

#posts iframe{
	margin-left: 35px;
}

/*< Formulário Email na página HOME - index.html >*/

fieldset
  {
    background-color:#A7C0DC;
    border-radius: 15px;
    width: 250px;
    height:400px;
    border: 2px solid black;
  }

/* Flutuação sobre o Botão enviar */  
.bnt_submit:hover{
    background-color: #69f;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

/* Botão Enviar */
.bnt_submit{
      width:100px;
      height:25px;

      margin: 0px 0px 100px 0px;
}

/* Campos do formulário na página index.html (Home) */  
.campo_nome
  {
    left:95px;
    top:23px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }
  
.campo_email
  {
    left:95px;
    margin-top:2px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }
  
.msg {
    top:95px;
    margin-top:2px;
    width: 250px;
    border-radius: 5px;
}

/*< Rodapé da página >*/

#rodape {
    text-align: center;
    background-color: #3B4545;
    color: white;
    margin: auto;
    /*margin-top: 150px;*/
    width: 100%;
    /*height: 300px;*/
}

#img-rodape{
	height: 50px;
	line-height: 70px;
}

#links-rodape{
	height: 200px;
	padding: 10px 10px;
}

#links-rodape-ajuda{
	width: 30%;
	height: 180px;
	float: left;
	margin-left: 5%;
}

#links-rodape-ajuda ul, #links-rodape-sobre ul, #links-rodape-redes-sociais ul{
	text-align: left;
}

#links-rodape-ajuda ul li, #links-rodape-sobre ul li, #links-rodape-redes-sociais ul li{
	text-align: left;
	list-style-type: none;
	padding-bottom: 5px;
}

#img-redes-sociais li{
	display: inline;
}

#links-rodape-ajuda a, #links-rodape-sobre a, #links-rodape-redes-sociais a{
	border-bottom: none;
	color: white;
}

#links-rodape-ajuda h2, #links-rodape-sobre h2, #links-rodape-redes-sociais h2{
	color: white;
}

#links-rodape-sobre{
	width:30%;
	height: 180px;
	float: left;
}

#links-rodape-redes-sociais{
	width: 30%;
	height: 180px;
	margin-left: 65%;
}

#titulo-rodape{
	color: white;
}

/*< Formatação >*/

/* Alinhar fotos da página contato.html */
#fotos {
    text-align:center;
}

/* fonte dos títulos */
h1, h2, h3 {
    font-family: sans-serif;
    color: #005eff;
}

/* Fonte dos códigos */
code {
    font-size: large;
}

h1 { 
    border-bottom: 1px solid-black;
    text-indent: none;
}

#video {
	text-align: center;
}

/* background do body */
body {
    text-indent: 30px;
    text-align: justify;
    margin: 0px;
    font-family: Verdana, sans-serif;
    padding: 0px;
}

body p {
    font-size: large;
    color: #191919;
}

#perfil {
    text-indent: 0px;
    text-align: center;
    border: solid black;
    padding: 0px;
    margin: 0px;
}

a:link {
    color: #053447; 
    text-decoration: none;
    border-bottom: thin solid #053447;
}

/*a:visited {
    color: #053447;
    text-decoration: none;
    border-bottom: thin dotted #053447;
}*/

#galeria {
    border-bottom:0px;
}

/* Flutuação sobre as imagens da classe thumb

    Cada post recebe uma thumbnail da classe thumb, quando o mouse
    flutua sobre ela aparece borda indicando um link.
*/
.thumb:hover{
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid black;
    
}

.conteinerfoto {
   float:left;
   margin: 10px;
   padding:5px;
   text-align:center;
   
} 

blockquote {
    background-image: url("images/terminal.png");
    text-align: left;
    background-repeat: no-repeat;
    padding: 50px 0px 10px 10px;
    color: white;
    text-indent: 0px;
}

#busca input{
	border-radius: 20px;
}

#logoMobile, #menuMobileImg{
	display: none;
}

#banner-comercial{
	background-color: #0053b7;
	height: 1000px;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 1250px;
	color: white;
	padding-top: 20px;
}

#banner-comercial a{
	height: 50px;
	border-bottom: none;
	display: inline-block;
	background-color: #ff0;
	line-height: 50px;
	text-align: center;
	color: black;
	text-indent: 0px;
	padding: 15px;
	font-size: x-large;
	border: black 1px solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 6px 10px 0px rgba(0,0,0,0.5);
}

#banner-comercial p{
	color: white;
}

#banner-comercial h1, #banner-comercial h3{
	color: white;
}

#banner-comercial h2{
	color: #ff0;
}

#bar-grey{
	height: 100px;
}

#bar-text{
	padding-top: 100px;
	height: 850px;
}

#title-bar-text{
	text-align: center;
	margin-bottom: 40px;
}

.cursos{
	width: 29%;
	height: 650px;
	margin-right: 2%;
	padding: 1%;
	border-radius: 10px;
	border: 2px solid gray;
}

.cursos:hover, .cursos:focus, .cursos:active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

#cursos-img{
	margin-left: 6%;
	text-indent: 0px;
}

#img-1{
	float: left;
}

#img-2{
	float: left;
}

#img-3{
	float: left;
}

.img-curso{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: auto;
}

.img-curso img{
	width: 140px;
	height: 140px;
}

.title-curso p, .title-curso h3{
	text-align: center;
	text-indent: 0px;
}

.text-curso{
	height:35%;
	width: 95%;
	padding-top: 20px;
	margin: auto;
}

#mod3-curso{
	padding-top: 2px;
}

.preco-curso{
	height: 11%;
}

.assine-curso{
	height: 6%;
	margin-top: 40px;
}

.assine-curso a{
	height: 100%;
	width: 70%;
	margin: auto;
	cursor: pointer;
	border-radius: 2px;
	display: block;
	background-color: #bf0000;
	text-align: center;
	text-indent: 0px;
	line-height: 50px;
	color: white;
}

.assine-curso a:hover {
    background: linear-gradient(to top, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0) 90%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #FB013D;
    transform: scale(1.02);
    transition: 0.2s;
    color: #ffffff;
text-decoration: underline;
}

.preco-curso-de{
	float: left;
	height: 100%;
	width: 49%;
}

.preco-curso-para{
	float: left;
	height: 100%;
	width: 49%;
}

.preco-curso-para h2{
	color: #105e09;
}

#column-container{
	margin: auto;
}

#column-left{
	float: left;
	width: 10%;
	height: 100%;
}

#column-center{
	float: left;
	width: 80%;
	height: 100%;
}

#column-right{
	float: left;
	width: 10%;
	height: 100%;
}

#img-destaques{
	width: 90%;
	margin: auto;
	height: 400px;
}

#botao-destaques{
	height: 10%;
}

#banner-rod-container{
	width: 100%;
	margin: auto;
	height:  850px;
}

#banner-rod-question{
	height: 15%;
	width: 100%;
}

#question-img{
	height: 100%;
	width: 20%;
	padding-left: 15%;
	float: left;
}

#question-text{
	height: 100%;
	width: 55%;
	float: left;
	text-indent: 0px;
}


#banner-rod-textimg{
	height: 80%;
	width: 100%;
	margin-top: 30px;
}

#banner-rod-text{
	width: 55%;
	height: 100%;
	float: left;
	padding-left: 10%;
	padding-right: 2%;
}

#banner-rod-img{
	width: 25%;
	height: 100%;
	float: left;
}


#banner-rod-img img{
	text-indent: 0px;
	margin-top: 100px;
}

#chamada-container{
	margin: auto;
	width: 80%;
	height: 700px;
}

#chamada-container h1{
	text-align: center;
}

.chamada-img{
	float: left;
	margin-right: 1%;
	height: 50%;
	width: 32%;
	text-indent: 0px;
	text-align: center;
}

#chamada-img-container{
	width: 100%;
	margin: auto;
	height:  400px;
}

#chamada-img-container img{
	height: 50%
}

.chamada-text{
	height: 50%;
}

#banner-final{
	height: 500px;
	background-color: #002462;
	margin-bottom: 100px;
	width: 100%;
	padding-top: 5%;
}

#banner-final a{
	height: 50px;
	border-bottom: none;
	display: inline-block;
	background-color: #ff0;
	line-height: 50px;
	text-align: center;
	color: black;
	text-indent: 0px;
	padding: 15px;
	font-size: x-large;
	border: black 1px solid;
	    border-top-width: 1px;
	    border-right-width: 1px;
	    border-bottom-width: 1px;
	    border-left-width: 1px;
	border-width: 1px 1px 1px 1px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 6px 10px 0px rgba(0,0,0,0.5);
}

#banner-final-texto-container{
	width: 80%;
	height: 55%;
	margin: auto;
	color: white;
	font-size: x-large;
}

#banner-final-texto-esq{
	width: 50%;
	height: 50%;
	float: left;
}

#banner-final-texto-esq p{
	color: white;
	font-size: x-large;
}

#banner-final-texto-esq a{
	margin-left: 65px;
}

#banner-final-texto-dir{
	width: 50%;
	height: 50%;
	float: left;
}

#banner-final-texto-dir ul{
	list-style-type: none;
	font-size: large;
}

#banner-final-texto-dir ul li{
	margin-bottom: 20px;
}

#frase-final{
	width:  80%;
	height: 10%;
	margin: auto;
	text-align: center;
	text-indent: 0px;
}

#frase-final p{
	color: white;
}
